<mat-horizontal-stepper style="width: 80%; margin: 15px auto;" linear="true">
  <mat-step [stepControl]="consumersPersonalDetails">
    <form [formGroup]="consumersPersonalDetails">
      <ng-template matStepLabel>Vul uw persoonsgegevens in</ng-template>
      <mat-form-field class="form-field">
        <input matInput placeholder="Voornaam" formControlName="firstName" required [(ngModel)]="payingConsumer.firstName">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Tussenvoegsel" formControlName="middleName"
               [(ngModel)]="payingConsumer.middleName">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Achternaam" formControlName="lastName" required [(ngModel)]="payingConsumer.lastName">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input [(ngModel)]="payingConsumer.email" formControlName="email" matInput
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="E-mail" required>
      </mat-form-field>
      <button mat-button matStepperNext>Volgende</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="consumersAddressDetails">
    <form [formGroup]="consumersAddressDetails">
      <ng-template matStepLabel>Vul uw adresgegevens in</ng-template>
      <mat-form-field class="form-field">
        <input matInput placeholder="Plaats" formControlName="town" required [(ngModel)]="payingConsumer.town">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input formControlName="address" matInput pattern="^[A-z]+\s\d+" placeholder="Straat + huisnummer" required
               [(ngModel)]="payingConsumer.address">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Postcode" formControlName="postalCode" required [(ngModel)]="payingConsumer.postalCode">
      </mat-form-field>
      <button mat-button matStepperPrevious>Terug</button>
      <button mat-button matStepperNext>Volgende</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="consumersFinancialDetails">
    <form [formGroup]="consumersFinancialDetails">
      <ng-template matStepLabel>Vul uw creditcard gegevens in</ng-template>
      <mat-form-field class="form-field">
        <input matInput type="number" placeholder="Creditcard nummer" formControlName="creditCardNumber">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="number" placeholder="MM" formControlName="expiryDateMonth">
        <mat-error *ngIf="consumersFinancialDetails.get('expiryDateMonth')?.invalid">
          Laagste hoeveelheid : 1, hoogste hoeveelheid: 12
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="number" placeholder="YY" formControlName="expiryDateYear">
        <mat-error *ngIf="consumersFinancialDetails.get('expiryDateYear')?.invalid">
          Laagste hoeveelheid : 19, hoogste hoeveelheid: 99
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="number" placeholder="CVV" formControlName="cvv">
      </mat-form-field>
      <button mat-button matStepperPrevious>Terug</button>
      <button mat-button matStepperNext (click)="whenPayingConsumerCompletesPurchase.emit(payingConsumer)">Volgende
      </button>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Klaar!</ng-template>
    Bedankt voor uw bestelling!
  </mat-step>
</mat-horizontal-stepper>
