<form class="login" (submit)="onLoginButtonClicked()">
  <h1 class="mat-display-1 app-name">Creativity</h1>

  <mat-form-field appearance="outline">
    <mat-label>Gebruikersnaam</mat-label>
    <input matInput
           placeholder="Gebruikersnaam"
           [(ngModel)]="username"
           autocomplete="username"
           name="username"
    />
    <mat-icon matSuffix>face</mat-icon>
    <!--<mat-hint>Hint</mat-hint>-->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Wachtwoord</mat-label>
    <input matInput
           placeholder="Gebruikersnaam"
           type="password"
           [(ngModel)]="password"
           autocomplete="password"
           name="password"
    />
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>

  <mat-card [class.visible]="showError" class="app-error-bg error-card">{{errorMessage}}</mat-card>

  <button mat-raised-button color="accent" [disabled]="showError" class="button">Inloggen</button>
</form>

