<div class="product-card">
  <mat-card *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="{{product.imagePath}}" alt="Product">-->
    <mat-card-content>
      {{product.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Aan winkelmand toevoegen</button>
    </mat-card-actions>
  </mat-card>
</div>
