<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{product.imagePath}}" alt="Product"
           style="max-width:200px; max-height:200px; margin: 10px auto;">
      <mat-card-content>
        {{product.description}}
        <h3>Prijs: €{{product.price}}</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="onAddToShoppingCart(product)">Aan winkelmand toevoegen</button>
        <button [routerLink]="['/producten', product.id]" color="primary" mat-button>Details bekijken</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
